.light-settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-color: #aaa;
  border-radius: 30px;
  width: 80%;
  height: auto;
  align-self: center;
  justify-content: center;
  margin-top: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.toggle {
  position: relative;
  display: block;
  width: 46px;
  height: 23px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: #eee;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #76ABAE;
}

input:checked+.slider:before {
  transform: translateX(22px);
}

.inner-circle{
  fill: grey;
  stroke-width: 0;
}

.outer-circle-off{
  fill: #31363F;
  stroke: grey;
  stroke-width: 2;
}

.outer-circle-on{
  fill: #31363F;
  stroke: #76ABAE;
  stroke-width: 2;
}

.light-circle-on {
  cursor: grab;
  position: absolute;
  user-select: none;
  filter: drop-shadow(0 0 7px rgba(255, 255, 102, 1));
  fill: white;
  stroke: white;
}

.light-circle-off {
  position: absolute;
  user-select: none;
  fill: grey;
  stroke: grey;
}