.material-settings{
    display: flex;
    flex-direction: column;
}

.setting{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.setting input[type="color"] {
  /* Customize the appearance as needed */
  width: 60px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  border: none;
  border-radius: 5px; /* Adjust as needed for rounded corners */
  outline: none;
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Additional styles for the color input when focused */
.setting input[type="color"]:focus {
  border-color: #2196F3; /* Set the border color when focused */
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); /* Add a subtle shadow when focused */
}