.material-settings{
    display: flex;
    flex-direction: column;
}

.material-setting{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

.material-setting > label {
  align-content: center;
  font-size: 1rem;
  color: #bbbbbb;
}

.material-setting input[type="color"] {
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.material-setting input[type="checkbox"] {
  accent-color: #76ABAE;
}