.models-section{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 20px;
    background-color: #31363F;
    overflow: hidden;
    color: #EEEEEE;
    /* border-left: 1px solid grey; */
    user-select: none;
    transform: translate(0px);
    transition: transform 1s ease; /* Add ease transition */
}
