.settings-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 1%;
  background-color: #31363F;
  overflow: hidden;
  color: #EEEEEE;
  user-select: none;
  /* transform: translate(0px); */
  /* transition: transform 1s ease; */
}

.settings-content {
  max-height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.settings-content.closed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 900px) and (orientation: portrait) {
  .settings-section {
    max-width: 0;
    padding: 0px;
  }
}

/* .settings-content.closed {
  max-height: 0;
  overflow: hidden;
} */

/* .settings-section.closed{
  transform: translate(80%);
  transition: transform 1s ease;
} */

/* .drawer-toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
  color: white;
} */

/* .arrow-icon {
  font-size: 24px;
} */