.settings-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 20px;
  background-color: #31363F;
  overflow: hidden;
  color: #EEEEEE;
  /* border-left: 1px solid grey; */
  user-select: none;
  transform: translate(0px);
  transition: transform 1s ease; /* Add ease transition */
}

.settings-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.settings-content.open {
  max-height: 500px;
  overflow: hidden;
  opacity: 1;
}

/* .settings-content.closed {
  max-height: 0;
  overflow: hidden;
} */

.settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.settings-section.closed{
  transform: translate(80%);
  transition: transform 1s ease; /* Add ease transition */
}


.drawer-toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
  color: white;
}

.arrow-icon {
  font-size: 24px;
}