.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  color: #EEEEEE;
  padding-left: 7%;
  padding-right: 7%;
  height: 10%;
}

.website-logo {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  user-select: none;
}

.github-logo {
  display: flex;
  height: 100%;
}

.website-logo-title {
  /* font-size: 1.0rem; */
  margin-left: 10px;
}

.icon {
  cursor: pointer;
  height: 100%;
  align-content: center;
}

.icon img {
  width: auto;
  height: 60%;
}